@import "styles/variables";
.container {
  display: flex;
  flex-direction: column;
  padding: $sp-xl $sp-xxl;
  row-gap: $sp-xxl;
}

.logo-container {
  width: 80px;
  height: 80px;
  position: relative;
}

.theme-toggle {
  position: fixed;
  top: $sp-xl;
  right: $sp-xl;
}

@media (max-width: 968px) {
  .container {
    padding: $sp-md;
  }
}
