@import "styles/variables";
.container {
    &:hover {
        .thumbnail-container {
            text-decoration: underline;
            
        }
    }
    h5 {
        margin-bottom: $sp-lg;
    }
}

.thumbnail-container {
    position: relative;
    width:300px;
    height:200px;
    margin-bottom: $sp-lg;
}