@import "styles/variables";
.container {
    &:hover {
        .thumbnail-container {
            text-decoration: underline;
            
        }
    }
}

.thumbnail-container {
    position: relative;
    width:400px;
    height:300px;
    margin-bottom: $sp-lg;
}