@import "styles/variables";
.skeleton-container {
    padding: $sp-xxxl $sp-xxxl * 2;
    display: grid;
    row-gap: $sp-md;
    column-gap: $sp-xxl;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-between;
}

.skeleton {
    width:300px;
    height:250px;
}
